{% extends "base.html" %}

{% block content %}
<h1 class="title">
  This is my blog made with Zola.
</h1>
<p>Click <a href="/blog/">here</a> to see my posts.</p>


<h2>Zola</h2>
<ul>
<li><a href="https://www.getzola.org/" target="_blank" rel="nofollow noopener noreferrer">Zola</a></li>
<li><a href="https://www.getzola.org/documentation/getting-started/overview/" target="_blank" rel="nofollow noopener noreferrer">Overview</a>（クイックスタート）</li>
</ul>

<h2>このサイトについて</h2>
<p>DocsのOverview（クイックスタート）を、そのまま使用しているので、カスタマイズは必須です。</p>
{% endblock content %}
